.WithdrawalScreen {
  @apply flex;
}

.Left {
  @apply border-r border-[#180B36] pb-[51px] pr-[47px] pt-[13px];
}

.Title {
  @apply mb-[10px] text-[20px] font-medium;
}

.PaymentList {
  @apply flex max-h-[340px] flex-col gap-[10px] overflow-auto;
}

.SelectedPaymentSystem .PaymentListItem {
  @apply text-white;
}

.PaymentListItem {
  @apply flex w-[300px] items-center gap-[10px] rounded-[10px] bg-[#180B36] text-[18px] font-medium text-[#49249C] transition-colors duration-300;
}

.PaymentListItemActive {
  @apply bg-[#23114E] text-white;
}
.PaymentListItemActive .PaymentListItemIcon {
  @apply bg-[#331970];
}

.PaymentListItemIcon {
  @apply flex h-[60px] w-[60px] items-center justify-center rounded-[10px] bg-[#24114F] transition-colors duration-300;
}
.PaymentListItemIcon svg {
  @apply max-h-[40px] max-w-[40px];
}

.Right {
  @apply w-full pl-[40px] pt-[19px];
}

.Withdrawal {
  @apply mt-[40px];
}

.Form {
  @apply flex items-end gap-[8px];
}

.WithdrawalInput {
  @apply w-full rounded-[10px] bg-[#180B36] px-[18px] pb-[16px] pt-[21px] text-[20px] font-medium text-white outline-none;
}
.WithdrawalInput::-moz-placeholder {
  @apply text-[#41208E];
}
.WithdrawalInput::placeholder {
  @apply text-[#41208E];
}

.CurrencyIcon {
  @apply flex h-[60px] w-full max-w-[60px] items-center justify-center rounded-[10px] bg-[#180B36];
}
.CurrencyIcon img {
  @apply h-[35px] w-[35px];
}

.ValueButtons {
  @apply mt-[10px] flex w-full gap-[8px];
}

.ValueButton {
  @apply h-[46px] w-full rounded-[10px] px-[5px] text-[20px] font-medium;
  background: #241051;
  background: radial-gradient(at center, #241051, #160b2f);
}

.ValueButtonActive {
  background: #401b94;
  background: radial-gradient(at center, #401b94, #160b2f);
}

.WithdrawalButton {
  @apply mt-[20px] w-full rounded-[15px] bg-[#2F136D] px-[20px] py-[20px] text-[24px] font-bold;
}

.WithdrawalInfo {
  @apply mt-[15px] inline-block w-full text-center text-[16px] font-medium text-[#2F136D];
}
.WithdrawalInfo b {
  @apply text-white;
}

@media (max-width: 1200px) {
  .Left {
    @apply pb-[40px] pr-[30px] pt-[10px];
  }
  .Title {
    @apply text-[14px];
  }
  .PaymentList {
    @apply max-h-[272px] gap-[8px];
  }
  .PaymentListItem {
    @apply flex w-[220px] gap-[8px] text-[16px];
  }
  .PaymentListItemIcon {
    @apply flex h-[48px] w-[48px];
  }
  .PaymentListItemIcon svg {
    @apply max-h-[32px] max-w-[32px];
  }
  .Right {
    @apply w-full pl-[30px] pt-[15px];
  }
  .Withdrawal {
    @apply mt-[30px];
  }
  .WithdrawalInput {
    @apply px-[12px] pb-[11px] pt-[14px] text-[18px];
  }
  .CurrencyIcon {
    @apply h-[48px] w-[48px];
  }
  .CurrencyIcon img {
    @apply h-[30px] w-[30px];
  }
  .ValueButtons {
    @apply mt-[8px] gap-[6px];
  }
  .ValueButton {
    @apply h-[40px] px-[5px] text-[16px];
  }
  .WithdrawalButton {
    @apply mt-[14px] rounded-[12px] px-[16px] py-[16px] text-[20px];
  }
  .WithdrawalInfo {
    @apply mt-[12px] text-[14px];
  }
}
@media (max-width: 768px) {
  .Left {
    @apply pb-[20px] pr-[20px];
  }
  .Title {
    @apply text-[14px];
  }
  .PaymentList {
    @apply max-h-[230px] gap-[6px];
  }
  .PaymentListItem {
    @apply w-[180px] gap-[6px] text-[14px];
  }
  .PaymentListItemIcon {
    @apply h-[40px] w-[40px];
  }
  .PaymentListItemIcon svg {
    @apply max-h-[28px] max-w-[28px];
  }
  .Right {
    @apply pl-[20px] pt-[10px];
  }
  .Withdrawal {
    @apply mt-[20px];
  }
  .WithdrawalInput {
    @apply px-[8px] pb-[11px] pt-[14px] text-[14px];
  }
  .CurrencyIcon {
    @apply flex h-[40px] w-[40px];
  }
  .CurrencyIcon img {
    @apply h-[24px] w-[24px];
  }
  .ValueButtons {
    @apply mt-[6px] gap-[3px];
  }
  .ValueButton {
    @apply h-[25px] px-[3px] text-[12px];
  }
  .WithdrawalButton {
    @apply mt-[10px] rounded-[8px] px-[10px] py-[12px] text-[14px];
  }
  .WithdrawalInfo {
    @apply mt-[8px] text-[10px];
  }
}
@media (max-width: 600px) {
  .WithdrawalScreen {
    @apply flex-col;
  }
  .Left {
    @apply border-r-0 p-0;
  }
  .PaymentList {
    @apply border-b border-[#180B36] pb-[5px];
  }
  .PaymentListItem {
    @apply w-full rounded-[5px];
  }
  .PaymentListItemIcon {
    @apply rounded-[5px];
  }
  .PaymentListItemName {
    @apply absolute left-2/4 -translate-x-2/4;
  }
  .Right {
    @apply mt-[5px] p-0;
  }
  .Form {
    @apply flex-col;
  }
  .ValueButtons {
    @apply hidden;
  }
}
@media (max-width: 480px) {
  .Withdrawal {
    @apply mt-[5px];
  }
  .Title {
    @apply mb-[5px] text-[10px];
  }
  .PaymentList {
    @apply max-h-[156px] gap-[5px];
  }
  .PaymentListItem {
    @apply text-[10px];
  }
  .PaymentListItemIcon {
    @apply h-[26px] w-[26px];
  }
  .PaymentListItemIcon svg {
    @apply max-h-[12px] max-w-[12px];
  }
  .WithdrawalInput {
    @apply rounded-[5px] px-[6px] pb-[9px] pt-[8px] text-[8px];
  }
  .CurrencyIcon {
    @apply h-[26px] w-[26px] rounded-[5px];
  }
  .CurrencyIcon img {
    @apply h-[14px] w-[14px];
  }
  .WithdrawalButton {
    @apply mx-auto block max-w-[213px] rounded-[5px] py-[8px] text-[10px];
  }
  .WithdrawalInfo {
    @apply mt-[5px] text-[6px];
  }
}/*# sourceMappingURL=WithdrawalScreen.module.css.map */